@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*#region Portada*/

.portada{
    width: 100%;
    height: 400px;
    background-image: url('/img/portada1.jpg');
    background-repeat: no-repeat;
    background-position: left, bottom;
    background-size: cover;
    box-shadow: 1px 1px 1px black;
}

.portada h2{
    padding-top: 10%;
    padding-left: 5%;
    color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.portada h3{
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding-left: 5%;
    text-shadow: 2px 2px 2px black;
}

/*#endregion*/

/*#region Cajas*/

.cajas{
    margin-top: 10px;
    margin-left: 2.5%;
    width: 95%;
    height: 420px;
    background-color: rgb(52, 50, 61);
    border-radius: 5px;
    border-color: rgb(206, 135, 93);
    border-style: solid;
    border-width: 1px;
    display: flex;
}

.foto{
    width: 35%;
    height: 95%;
    background-color: rgb(206, 135, 93);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 1%;
}

.foto img{
    height: 340px;
    width: 340px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 11%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(52, 50, 61);
}

.foto h2{
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.texto{
    height: 95%;
    width: 55%;
    margin-left:5%;
    margin-top: 2.5%;
}

.texto h2{
    text-align: center;
    font-size: 22px;
    color: white;
    margin-top: 5%;   
    text-shadow: 1px 1px 1px black; 
}

.texto p{
    text-align: justify;
    margin-top: 7%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-indent: 20px;
}

/*#endregion*/